<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        {% if id is none %}
        <h1>States:</h1>
        <ul>
            {% for st in states.values()|sort(attribute="name") %}
            <li>{{ st.id }}: <b>{{st.name}}</b></li>
            {% endfor %}
        </ul>
        {% else %}
        {% if nf == 1 %}
        <h1>Not Found!</h1>
        {% else %}
        <h1>State: {{ states.name }}</h1>

        <h3>Cities:</h3>

        <ul>
            {% for ci in cities.values()|sort(attribute="name") %}
            {% if ci.state_id == states.id %}
            <li>{{ ci.id }}: <b>{{ ci.name }}</b></li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
        {% endif %}
    </BODY>
</HTML>
